<style>
  :host {
    display: inline-flex;
    align-items: center;
  }
  svg {
    height: var(--logo-size, 28px);
    width: auto;
    display: block;
    overflow: visible;
  }
  :host([glow]) svg {
    filter: drop-shadow(0 0 24px oklch(0.74 0.17 280 / 0.4));
  }
  :host(:not([animated])) path { opacity: 1 !important; }
</style>

<svg viewBox="0 0 382 438" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M17 137.5L106 192.5L17 39V137.5Z" fill="url(#lg0)" opacity="0">
    <animate id="a0op" attributeName="opacity" from="0" to="1" dur="400ms" begin="indefinite" fill="freeze"/>
    <animateTransform id="a0tx" attributeName="transform" type="translate" from="-180 -130" to="0 0" dur="1200ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="replace"/>
    <animateTransform id="a0rx" attributeName="transform" type="rotate" from="95 17 39" to="0 17 39" dur="1200ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="sum"/>
  </path>
  <path d="M181 141L106 192.5L17 39L181 141Z" fill="url(#lg1)" opacity="0">
    <animate id="a1op" attributeName="opacity" from="0" to="1" dur="400ms" begin="indefinite" fill="freeze"/>
    <animateTransform id="a1tx" attributeName="transform" type="translate" from="-170 -10" to="0 0" dur="1200ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="replace"/>
    <animateTransform id="a1rx" attributeName="transform" type="rotate" from="-240 99 90" to="0 99 90" dur="1200ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="sum"/>
  </path>
  <path d="M363 137.5L274 192.5L363 39V137.5Z" fill="url(#lg2)" opacity="0">
    <animate id="a2op" attributeName="opacity" from="0" to="1" dur="400ms" begin="indefinite" fill="freeze"/>
    <animateTransform id="a2tx" attributeName="transform" type="translate" from="170 -150" to="0 0" dur="1200ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="replace"/>
    <animateTransform id="a2rx" attributeName="transform" type="rotate" from="185 363 39" to="0 363 39" dur="1200ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="sum"/>
  </path>
  <path d="M199 141L274 192.5L363 39L199 141Z" fill="url(#lg3)" opacity="0">
    <animate id="a3op" attributeName="opacity" from="0" to="1" dur="400ms" begin="indefinite" fill="freeze"/>
    <animateTransform id="a3tx" attributeName="transform" type="translate" from="200 -60" to="0 0" dur="1200ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="replace"/>
    <animateTransform id="a3rx" attributeName="transform" type="rotate" from="-65 281 90" to="0 281 90" dur="1200ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="sum"/>
  </path>
  <path d="M191 138L356.411 34.5H25.5891L191 138Z" fill="url(#lg4)" opacity="0">
    <animate id="a4op" attributeName="opacity" from="0" to="1" dur="400ms" begin="indefinite" fill="freeze"/>
    <animateTransform id="a4tx" attributeName="transform" type="translate" from="30 -240" to="0 0" dur="1100ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="replace"/>
    <animateTransform id="a4rx" attributeName="transform" type="rotate" from="45 191 86" to="0 191 86" dur="1100ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="sum"/>
  </path>
  <path d="M188 415.5L187.5 147.5L109 199.5L109 367.5L188 415.5Z" fill="url(#lg5)" opacity="0">
    <animate id="a5op" attributeName="opacity" from="0" to="1" dur="400ms" begin="indefinite" fill="freeze"/>
    <animateTransform id="a5tx" attributeName="transform" type="translate" from="-90 240" to="0 0" dur="1300ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="replace"/>
    <animateTransform id="a5rx" attributeName="transform" type="rotate" from="330 148 281" to="0 148 281" dur="1300ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="sum"/>
  </path>
  <path d="M193.672 415.5L194.172 147.5L272.672 199.5L272.672 367.5L193.672 415.5Z" fill="url(#lg6)" opacity="0">
    <animate id="a6op" attributeName="opacity" from="0" to="1" dur="400ms" begin="indefinite" fill="freeze"/>
    <animateTransform id="a6tx" attributeName="transform" type="translate" from="40 300" to="0 0" dur="1300ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="replace"/>
    <animateTransform id="a6rx" attributeName="transform" type="rotate" from="-25 233 281" to="0 233 281" dur="1300ms" begin="indefinite" fill="freeze" calcMode="spline" keyTimes="0;1" keySplines="0.2 0.8 0.2 1" additive="sum"/>
  </path>
  <defs>
    <linearGradient id="lg0" x1="61.5" y1="39" x2="61.5" y2="192.5" gradientUnits="userSpaceOnUse">
      <stop offset="0.278846" stop-color="#94E0F0">
        <animate id="c0a" attributeName="stop-color" values="#94E0F0;#68CBE9;#B985E9;#94E0F0" dur="6s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
      <stop offset="1" stop-color="#776EE5">
        <animate id="c0b" attributeName="stop-color" values="#776EE5;#5A5ACB;#846CE0;#776EE5" dur="6s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
    </linearGradient>
    <linearGradient id="lg1" x1="99" y1="39" x2="99" y2="192.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="#397BC5">
        <animate id="c1a" attributeName="stop-color" values="#397BC5;#5CA6DF;#515DD1;#397BC5" dur="6s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
      <stop offset="1" stop-color="#5A5ACB">
        <animate id="c1b" attributeName="stop-color" values="#5A5ACB;#776EE5;#306FBF;#5A5ACB" dur="6s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
    </linearGradient>
    <linearGradient id="lg2" x1="318.5" y1="39" x2="318.5" y2="192.5" gradientUnits="userSpaceOnUse">
      <stop offset="0.278846" stop-color="#6958C2">
        <animate id="c2a" attributeName="stop-color" values="#6958C2;#846CE0;#4C69C6;#6958C2" dur="6s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
      <stop offset="1" stop-color="#4C69C6">
        <animate id="c2b" attributeName="stop-color" values="#4C69C6;#306FBF;#515DD1;#4C69C6" dur="6s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
    </linearGradient>
    <linearGradient id="lg3" x1="281" y1="39" x2="281" y2="192.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="#C59FF8">
        <animate id="c3a" attributeName="stop-color" values="#C59FF8;#B985E9;#94E0F0;#C59FF8" dur="6s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
      <stop offset="1" stop-color="#5CA6DF">
        <animate id="c3b" attributeName="stop-color" values="#5CA6DF;#68CBE9;#776EE5;#5CA6DF" dur="6s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
    </linearGradient>
    <linearGradient id="lg4" x1="382" y1="0" x2="16.5" y2="0" gradientUnits="userSpaceOnUse">
      <stop stop-color="#846CE0">
        <animate id="c4a" attributeName="stop-color" values="#846CE0;#B985E9;#6958C2;#846CE0" dur="8s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
      <stop offset="1" stop-color="#68CBE9">
        <animate id="c4b" attributeName="stop-color" values="#68CBE9;#94E0F0;#5CA6DF;#68CBE9" dur="8s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
    </linearGradient>
    <linearGradient id="lg5" x1="110.431" y1="418" x2="110.431" y2="105.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="#515DD1">
        <animate id="c5a" attributeName="stop-color" values="#515DD1;#306FBF;#5A5ACB;#515DD1" dur="7s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
      <stop offset="1" stop-color="#79D1E5">
        <animate id="c5b" attributeName="stop-color" values="#79D1E5;#94E0F0;#68CBE9;#79D1E5" dur="7s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
    </linearGradient>
    <linearGradient id="lg6" x1="271.241" y1="133" x2="271.241" y2="448.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="#306FBF">
        <animate id="c6a" attributeName="stop-color" values="#306FBF;#5A5ACB;#515DD1;#306FBF" dur="7s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
      <stop offset="1" stop-color="#B985E9">
        <animate id="c6b" attributeName="stop-color" values="#B985E9;#C59FF8;#846CE0;#B985E9" dur="7s" begin="indefinite" repeatCount="indefinite"/>
      </stop>
    </linearGradient>
  </defs>
</svg>
